.submitButton {
  color: black;
  background-color: white;
  border: 1px solid black;
  opacity: 0.8;
}
.cancelButton {
  color: black;
  background-color: #ff4757;
  border: 1px solid black;
  opacity: 0.8;
}
.button {
  font-family: 'Poiret One', cursive;
  margin-left: 5px;
  opacity: 0.8;
}
