.HomeLogo {
  height: 400px;
  width: 600px;
}

.loginLogo {
  height: 460px;
  width: 480px;
}

.registerLogo {
  height: 380px;
  width: 400px;
}

img.logo {
  background-image: url("http://img.4plebs.org/boards/tg/image/1432/08/1432088142697.png");
  height: 50px;
  width: 50px;
}
