
.navbar {
  position: fixed;
  background-color: black;
  opacity: 0.8;
  border-radius: 20px;
  position: sticky;

}

a.navbar-item {
  color: #ff7f50;
  &:hover {
  text-decoration: underline;
  background-color: black;
  }
}

div.navbar-menu.is-active {
  background-color: black;
  margin: 50px;
}
