
.showTitle {
  color: black;
}

h1.title {
  color: white;
  &.homeTitle {
    color: white;
  }
}

h2.title {
  color: white;
  &.subtitle {
    color: white;
  }
}
.homeSubtitle {
  color: white;
}

h3.title, .content {
  color: white;
}

p {
  font-weight: bold;
  color: #ff7f50;
  .content {
    color: #ff7f50;
  }
}

.skillsColor {
  color: #ff4757;
}
