@import 'animate';
@import 'navBar';
@import 'logo';
@import 'google';

* {
  font-family: 'Poiret One', cursive;
}

a {
  color: inherit;
  font-weight: bold;
  img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
  }

  div.column {
    background: -webkit-linear-gradient(to right, #414345, #232526);
  }

section {
  background: black;
}


  img:hover {
    border:10px;
    box-shadow: 0 0 10px;
    opacity: 0.7;
    margin: inherit;
  }
}

h1.title {
  color: black;
  &.homeTitle {
    color: white;
  }
}

h2.title {
  color: black;
  &.subtitle {
    color: black;
  }
}
  .homeSubtitle {
  color: white;
}

h3.title {
  color: black;
}

p.content {
  color: black;
}

.button {
  font-family: 'Poiret One', cursive;
  margin-left: 5px;
}

.flashContainer {
  position: sticky;
}
