@import 'animate';
@import 'navBar';
@import 'logo';
@import 'google';
@import 'about';
@import 'newProject';
@import 'slider';

* {
  font-family: 'Poiret One', cursive;
}

main {
  background-image: url("https://wallpaper-house.com/data/out/8/wallpaper2you_249514.jpg");
  background-size: cover;
  min-height: 900px;

}

a {
  color: white;
  font-weight: bold;
  img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
  }

  img:hover {
    border:10px;
    box-shadow: 0 0 10px;
    opacity: 0.7;
    margin: inherit;
  }
}

.showTitle {
  color: black;
}

h1.title {
  color: white;
  &.homeTitle {
    color: white;
  }
}

h2.title {
  color: white;
  &.subtitle {
    color: white;
  }
}
.homeSubtitle {
  color: white;
}

h3.title {
  color: white;
}

p {
  color: #ff7f50;
  .content {
    color: #ff7f50;
  }
}

.button {
  font-family: 'Poiret One', cursive;
  margin-left: 5px;
  background-color: #ff7f50;
}

select {
  font-family: 'Poiret One', cursive;
}

.input {
  font-family: 'Poiret One', cursive;
}

strong {
  color: #ff7f50;
}

.submitButton {
  color: black;
}
.cancelButton {
  color: black;
}

.flashContainer {
  position: sticky;
}

div.column.is-two-thirds {
  padding-top: 50px;}
  .column.is-one-third{
    padding-top: 50px;
}
